a {
  text-decoration: none;
  color: #000;
}

button {
  background-color: #000 !important;
  color: white !important;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main-title {
  text-align: center;
  color: #fff;
  background-color: #000;

  margin: 0;
  padding: 1rem;

}

nav {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #00000071;
}


nav a {
  color: #000;
  margin: 0 1rem;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
}

.movie-card {
  box-shadow: 0 0 5px #00000062;
  padding: 1rem;
  width: 250px;
  transition: all .3s ease-in-out;
  background: linear-gradient(black, white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-card:hover {
  transform: translateY(-10px) scale(1.1);
}

.movie-card img {
  width: 100%;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 4rem;
}

.spinners {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-details {
  padding: 1rem;
}

.movie-details img {
  width: 200px;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  margin: 2rem auto;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 1.5rem;
}

button {
  padding: 0.5rem;
  color: white;
  border: none;
  cursor: pointer;
  box-sizing: content-box;
  height: 1.5rem;
}

form a {
  margin-bottom: 1rem;
  text-align: start;
}

button:hover {
  background-color: #000000b1;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  width: 100px;
  background: #000;
  color: #fff;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
}

#favorite-section {
  padding: 1rem;
}

.favorite-list {
  list-style: none;
  padding: 0;
}

.favorite {
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 0 5px gray;
  margin-bottom: 1rem;

}

.favorite div {
  display: flex;
  gap: 10px;
}


/* @media screen and (max-width:600px) { */
#favorite-section ul li {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 25px;
}

/* } */
